<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week6_tasks</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
</head>
<body style="background-color: rgb(61, 222, 174)">
    <div id="app1">
        <div class="logo">
            <h1>Welcome to Bedtime Diary!</h1>
        </div>
        <br>
        <div>
            <label for="">Name:</label>
            <input type="text" v-model="name">
            <br>
            <label for="">Password:</label>
            <input type="password" v-model="password">
            <br>
            <label for="">Email:</label>
            <input type="text" v-model="email">

        </div>
        <br>
        <br>

        <div>
            Who are you sharing with?
            <br>
            {{message}}
        </div>
    <!-- checkbox -->
        <div>
            <input type="checkbox" value="Family" v-model="checkedvalue">
            <label for="" >Family</label>
            <br>
            <input type="checkbox" value="Friends" v-model="checkedvalue">
            <label for="" >Friends</label>
            <br>
            <input type="checkbox" value="Everyone" v-model="checkedvalue">
            <label for="" >Everyone</label>
            <br>
            You will share this with:
            <br>
            {{checkedvalue}}
        </div>
    </div>
    <br>
    <div id="app">
        {{message}}

        <div>
            <select v-model="selected">
                <option value="option1">option 1</option>
                <option value="option2">option 2</option>
            </select>
            <br>
            <div>
                The selected option is:
                <br>
                {{selected}}
            </div>
        </div>
        <div>
            <select name="" id="" v-model="dynamicValues">
                <option v-for="num in dynamicValues" v-bind:value="num">{{num}}</option>
            </select>
        </div>
        <div>
            <input type="text" v-model="vmodelmessage">
            <br>    
            This is a v model message:{{vmodelmessage}}
            <br>
            <input type="text" v-bind:value="vbindingmessage">
            <br>
            This is a v binding message: {{vbindingmessage}}
        </div>
    </div>

    <script>
        new Vue({
            el:'#app',
            data(){
                return{
                    vmodelmessage:"V model Example",
                    vbindingmessage:"V binding Example",
                    selected:"",
                    dynamicValues:[1,2,3,4,5,6,7,8],
                    dynamicSelected:"",

                }
            }
        })
    </script>

    <script>
        new Vue({
            el:'#app1',
            data(){
                return{
                    message:"Sharing to...",
                    name:"",
                    password:"",
                    email:"",
                    checkedvalue:[],
                }
            },
            methods:{

            },
            computed:{

            },
        })
    </script>
    
</body>
</html>